<!DOCTYPE html>
<html lang="en">
<head>
  <title>Delete a course</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <h3>Are you sure you want to delete the following course?</h2>

    <h4>Name: {{courses.name}} </h4>
    <h4>Description: {{courses.description}} </h4>

    <form class="form-horizontal" action="/">
      {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
        <input type="submit" class="btn btn-default" value="No">
      </div>
    </div>
    </form>
    <form class="form-horizontal" action="/delete" method="POST">
      {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
        <input type="hidden" name="id" value="{{courses.id}}">
        <input type="submit" id="delete" class="btn btn-default" vlaue="Yes! I want to delete this">
      </div>
    </div>
    </form>


</body>
</html>
